﻿@model WebApp.Models.Lemez

<h2>LemezEdit</h2>

@using (Html.BeginForm("Edit", "Lemez"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.LemezID)

    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Eloado)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Eloado)</div>

    <div class="editor-label">@Html.LabelFor(m => m.LemezCim)</div>
    <div class="editor-field">@Html.EditorFor(m => m.LemezCim)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Stilus)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Stilus)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Tipus)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Tipus)</div>

    <div class="editor-label">@Html.LabelFor(m => m.KiadasEve)</div>
    <div class="editor-field">@Html.EditorFor(m => m.KiadasEve)</div>

    <input type="submit" value="Elkuld" />
}
