﻿@model WebApp.Models.Lemez

@{ 
    ViewData["Title"] = "LemezDetails";
}

<h2>Egy lemez adatlapja</h2>

@Html.ActionLink("Vissza a listahoz", "Index")

<table border="1">
    <tr>
        <td>@Html.DisplayNameFor(m => m.LemezID)</td>
        <td>@Html.DisplayFor(m => m.LemezID)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Eloado)</td>
        <td>@Html.DisplayFor(m => m.Eloado)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.LemezCim)</td>
        <td>@Html.DisplayFor(m => m.LemezCim)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Stilus)</td>
        <td>@Html.DisplayFor(m => m.Stilus)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.Tipus)</td>
        <td>@Html.DisplayFor(m => m.Tipus)</td>
    </tr>
    <tr>
        <td>@Html.DisplayNameFor(m => m.KiadasEve)</td>
        <td>@Html.DisplayFor(m => m.KiadasEve)</td>
    </tr>
</table>