﻿@model WebApp.Models.LemezListViewModel

@{
    ViewData["Title"] = "LemezIndex";
}

<h2>Lemez index</h2>

<p style="color:red">@TempData["editResult"]</p>

@await Html.PartialAsync("LemezEdit", Model.EditedLemez)
@await Html.PartialAsync("LemezList", Model.ListOfLemez)