﻿@model IEnumerable<WebApp.Models.Lemez>

<h2>Lemez lista</h2>

@if (Model.Count() == 0)
{
    <p>Nincs adat az adatbazisban!</p>
}
else
{
<table border="1">
    <tr>
        <th>@Html.DisplayNameFor(m => m.First().Eloado)</th>
        <th>@Html.DisplayNameFor(m => m.First().LemezCim)</th>
        <th>Adatlap</th>
        <th>Torles</th>
        <th>Modositas</th>
    </tr>
    @foreach (var lemez in Model)
    {
        <tr>
            <th>@Html.DisplayFor(m => lemez.Eloado)</th>
            <th>@Html.DisplayFor(m => lemez.LemezCim)</th>
            <th>@Html.ActionLink("[SHOW]", "Details", new { id = lemez.LemezID })</th>
            <th>@Html.ActionLink("[DEL]", "Remove", new { id = lemez.LemezID })</th>
            <th>@Html.ActionLink("[EDIT]", "Edit", new { id = lemez.LemezID })</th>
        </tr>
    }
</table>
}